# c++ binaries after comp.
*.o
src/daemon/noesc_daemon
noesc_daemon
sample_set/

# python thingz
__pycache__/
*.pyc

# VE's
venv/
env/

# datasets 
data/
*.log
*.csv

# trained models
# models/*.pkl

# Ignore OS files
.DS_Store

