# c++ binaries after comp.
*.o
src/daemon/noesc_daemon
noesc_daemon
sample_set/

# python thingz
__pycache__/
*.pyc

# VE's
.venv/
env/
.env


# datasets 
data/
*.log
*.csv

# references
noesc_references/
# trained models
models/**/*.pkl
models/**/*.h5

# LaTeX build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
# Ignore OS files
.DS_Store

.idea/

model_results/README.md
track_logs
export_config
